<div>
    <div class="row">
        <div>
            <div class="car">
                <div class="car-body">
                    <h1>TARJETA</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <app-tarjeta></app-tarjeta>
        </div>
        <div class="col-lg-6">
            <app-correo></app-correo>
        </div>
    </div>
</div>