<div>
    <div>
        <div class="titulo">Listado de tarjetas
            <form action="">
                <div>
                    <table mat-tableclass="mat-elevation-z8">


                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element"> </td>
                        </ng-container>


                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element"> </td>
                        </ng-container>


                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element"> </td>
                        </ng-container>

                    </table>

                </div>
            </form>
        </div>
    </div>
</div>